
.cover{
  width: 100%;
  min-height: 100vh;
  background: url(./login1.png) no-repeat center  center;
  background-size:cover;
  padding-bottom: 5vh;
  padding-top: 100px;
}


 #signbody .logo{
  font-size: 40px;
  font-weight: bold;
  color:white;
  text-align:center;
 }

 #signbody  .bombtn{
  text-align: center;
  margin-top: 40px;
  color:white;
  font-size: 14px;
}

#signbody  .bombtns{
  margin-top: 10px;
  color:white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signbody .bottext{
  left: 40%;
  text-align: center;
}


#signbody .loginbody{
  width: 380px;
  height: 420px;
  padding: 50px;
  background: white;
  text-align: center;
  border-radius: 10px;
  margin-top: 150px;
  margin-bottom: 50px;
  display: inline-block;
}



#signbody .logintitle{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #0c88de;
  display: inline-block;
  margin-bottom: 40px;
}

#signbody .SignIn-Inputs{
  margin-bottom: 40px;
 }


 #signbody .main{
   width: 100%;
   text-align: right;
   padding-right: 10%;
 }

 @media screen and (max-height: 940px) {
  #signbody .loginbody{
    margin-top: 90px;
  }
}

@media screen and (max-height:730px) {
  .cover{
    padding-bottom: 5vh;
    padding-top: 30px;
  }
  #signbody .main{
    padding-right: 5%;
  }
  #signbody .loginbody{
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
}

